<nk href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!--Modal: Contact form-->
  <div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
      <div class="modal-content">

        <!--Header-->
        <div class="modal-header light-blue darken-3 white-text">
          <h4 class="title">
            <i class="fa fa-pencil"></i> Contact form</h4>
          <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body mb-0">
          <form [formGroup]="modalForm">
            <div class="md-form form-sm">
              <i class="fa fa-envelope prefix"></i>
              <input mdbInputDirective type="text" id="modalFormNameEx" formControlName="modalFormNameEx" class="form-control">
              <label for="modalFormNameEx">Your name</label>

            </div>

            <div class="md-form form-sm">
              <i class="fa fa-lock prefix"></i>
              <input mdbInputDirective type="email" id="modalFormEmailEx" formControlName="modalFormEmailEx" class="form-control">
              <label for="modalFormEmailEx">Your email</label>
            </div>

            <div class="md-form form-sm">
              <i class="fa fa-tag prefix"></i>
              <input mdbInputDirective type="text" id="modalFormSubjectEx" formControlName="modalFormSubjectEx" class="form-control">
              <label for="modalFormSubjectEx">Subject</label>
            </div>

            <div class="md-form form-sm">
              <i class="fa fa-pencil prefix"></i>
              <textarea mdbInputDirective type="text" id="modalFormTextEx" formControlName="modalFormTextEx" class="md-textarea mb-0"></textarea>
              <label for="modalFormTextEx">Your message</label>
            </div>

            <div class="text-center mt-1-half">
              <button mdbBtn color="info" class="mb-2 waves-light" mdbWavesEffect>Send
                <i class="fa fa-send ml-1"></i>
              </button>
            </div>
          </form>

        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!--Modal: Contact form-->